S3method("label<-",data.frame)
S3method("label<-",default)
S3method(label,default)
export("label<-")
export(HTML)
export(HTMLEnd)
export(HTMLInit)
export(charger)
export(desc_global)
export(desc_groupe)
export(diagnostic)
export(label)
